In [4]:
import numpy as np
import pandas as pd

##### GroupBy

In [5]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Data': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [6]:
df

  Category Store  Sales  Quantity       Data
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [7]:
# Group by Category and calculate the sum of Sales
df.groupby('Category')['Sales'].sum()

Category
A    570
B    930
Name: Sales, dtype: int64

In [8]:
# Group by Store and calculate the sum of Sales
df.groupby('Store')['Sales'].sum()

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [9]:
# Group by multiple columns
# Group by Category and Store
df.groupby(['Category', 'Store'])['Sales'].sum()

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

In [ ]:
df['Sales'].mean()

"""mean median min max count std"""

np.float64(187.5)

In [27]:
df['Sales'].agg(['mean', 'median', 'min', 'max', 'count', 'sum'])

mean       187.5
median     190.0
min        100.0
max        300.0
count        8.0
sum       1500.0
Name: Sales, dtype: float64